<% include partials/header %>



<div class="page-home">
  <div class="ui centered grid container">
    <div class="nine wide column">
      <div class="ui icon info message">
          <i class="hire a helper icon"></i>
          <div class="content">
            <div class="header">
              HELP HOME!
            </div>
            <p>Help Page with user manual and instructions are in progress...</p>
          </div>
        </div>
    </div>
  </div>
</div>



<% include partials/footer %>