<% include partials/header %>



<div class="page-home">
  <div class="ui centered grid container">
    <div class="nine wide column">
      <div class="ui icon warning message">
          <i class="home icon"></i>
          <div class="content">
            <div class="header">
              CCOE HOME!
            </div>
            <p>Home page for Health Care Configuration Application</p>
          </div>
        </div>
    </div>
  </div>
</div>



<% include partials/footer %>